 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <p style="text-align:center">Mechanical and EECS Engineer who loves robots.</p>
            <p style="text-align:center">Looking to starting a Ph.D.</p>
            <!-- <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Mechanical and EECS Engineer who loves robots.</p>
                </div>
                <div class="col-lg-4">
                    <p>Looking to starting a Ph.D.</p>
                </div> -->
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
